<style type="text/css">
	.main {
		font-family: 'Cambria', serif;
		font-size: 16px;
	}

	table {
		width: 100%;
	}

	h3 {
		margin-top: 40px;
		text-align: left;
		padding-left: 50px;
	}
	
	ul {
		list-style-type: square;
	}

	h4, p {
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6, p {
		cursor: default;
	}
</style>

<h1 class="text-center">Hubenko Vitalii</h1>
<table>
	<tr>
		<td><p>Kyiv, Ukraine</p></td>
		<td class="pull-right"><a href="mailto:hubenko_vitalii@mail.ua">hubenko_vitalii@mail.ua</a></td>
	</tr>
	<tr>
		<td><p>+380(63)486-07-15</p></td>
		<td class="pull-right"><a href="https://github.com/VitaHub"><b>github.com/VitaHub</b></a></td>
	</tr>
	<tr>
		<td><p>Skype: hubenko_vitalii</p></td>
		<td class="pull-right"><a href="https://socinet.herokuapp.com"><b>https://socinet.herokuapp.com</b></a></td>
	</tr>
</table>

<h3>OBJECTIVE:</h3>
<h4>To obtain <b>Ruby on Rails developer</b> position.</h4>

<h3>SKILLS:</h3>
<ul>
	<li><h4>General knowledge of web development methodologies;</h4></li>
	<li><h4>Analytic thinking and basic knowledge in relational database theory and algorithms;</h4></li>
	<li><h4>HTML, CSS, Bootstrap, JavaScript, JQuery, AngularJS;</h4></li>
	<li><h4>Ruby/Ruby on Rails, PHP;</h4></li>
	<li><h4>SQLite, PostgreSQL;</h4></li>
	<li><h4>Git, Ubuntu;</h4></li>
	<li><h4>Languages: English (intermediate), German (basic).</h4></li>
</ul>

<h3>EDUCATION:</h3>
<table>
	<tr>
		<td><h4>Kyiv National University of Construction and Architecture</h4></td>
		<td class="pull-right"></td>
	</tr>
	<tr>
		<td><p>Industrial and Civil engineering (bachelor’s degree)</p></td>
		<td class="pull-right">2009 – 2013</td>
	</tr>
	<tr>
		<td><p>Industrial and Civil engineering (specialist’s degree)</p></td>
		<td class="pull-right">2013 – 2014</td>
	</tr>
	<tr>
		<td><p>Project Management (master’s degree)</p></td>
		<td class="pull-right">2014 – 02/2016</td>
	</tr>
</table>

<h3>EXPERIENCE:</h3>
<table>
	<tr>
		<td><h4>LLC "Production and technical agency"</h4></td>
		<td class="pull-right"></td>
	</tr>
	<tr>
		<td><p>Civil engineer</p></td>
		<td class="pull-right">09/2013 – Present</td>
	</tr>
</table>
