<p>Здравствуйте, <%= @resource.name %>!</p>

<p>Для обновления пароля перейдите по ссылке ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте данное сообщение.</p>
<p>Ваш пароль не изменится, если вы не перейдете по ссылке и не назначите новый.</p>
